body {
  color: rgba(16, 16, 16, 0.8);
  letter-spacing: .25px;
}

.card-inverse .card-text {
  color: rgba(255,255,255,.95);
  font-weight: 400;
}


a.github-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAMAAACqEUSYAAAAUVBMVEVMaXH////////////////////////////////////////////////////////////////////////////////////////////////////////JzkR1AAAAGnRSTlMAcwiaz+0f8/w9pFCKGawNZ7XfRl/BJgMzlLtDXTIAAAEMSURBVBgZZcEJYoIwFEXRByQkYZ6Vu/+F9oPWCj1H+rVl4xSid9XS625e+Qh7q2/5zoWv9ad03DUPvZWe/zq95A5i4JsHMp12oHqkDogBCE3bR4hJJmEySSn10qOsW0kOmGQqTKYrh5mlNmJ2XQXMKGWY+NRVg4mtRkyhm9xjZk2YRXcrZlDAJN3tmEYRU+uuwxTymEx3DtPIYSrd5AGTqcDETVcDh6SFw9jr29NjYq4+QAD31Ec+BA6VpAK/1QFck3TIKs9LktQG/DZHYNOh4a3TYYBVtZsKnRIvodWpgkUfJac46yUfidVSzzqVHOKgX48Cs+pUYkKtL/UEq04lMJa6yAe369RPXdLbD1HfIb/LPIlDAAAAAElFTkSuQmCC);
  width: 28px;
  height: 28px;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  text-indent: -1000px;
  overflow: hidden;
  float: right;
  text-decoration: none;
}

.button {
  background: #884499;
  color: #fafafa;
  border-radius: 4px;
  padding: 0.44444em 0.888888em;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button-getStarted {
  font-size: 24px;
  margin: 0 auto;
}

.intro {
  padding-top: 20px;
  padding-bottom: 60px;
}

.intro:before, .intro:after {
  content: "";
  display: table;
}

.intro:after {
  clear: both;
}

.intro ul {
  margin-left: 0; 
  margin-right: 0; 
  list-style: none;
  padding: 0;
}

.intro img {
  width: 128px;
  height: 128px;
}

.intro li {
  float: left;
  clear: none;
  width: 33.333333%;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}